.app {
  padding: 50px;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    margin-bottom: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  margin-right: 25px;
  position: relative;
}

nav a:hover,
nav a.selected {
  color: rgba(0,0,0, 0.6);
}

nav a:not(:first-child)::before {
  position: absolute;
  content: ' ';
  top: 0.25px;
  bottom: 0.25px;
  left: -12.5px;
  width: 2px;
  background-color: black;
}